.main-container {
  .item-info {
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 4px rgb(93, 93, 93);

    img {
      width: 200px;
      height: 200px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
    }
  }
}
