$logoBackColor: rgb(7, 19, 43);
$white: #ffffff;

.login-container {
  min-height: 100vh;

  .left {
    width: 40%;

    img {
      border-radius: 5px;
    }

    p {
      font-size: 1.6rem;
      font-weight: 900;
      color: $white;
    }
  }

  .right {
    width: 40%;
    background: $white;
    border-radius: 3px;
    box-shadow: $boxShadow;

    .submit-button {
      border-radius: 4px;
      background-color: $logoBackColor;
      border: none;
      color: $white;
      text-align: center;
      transition: all 0.5s;
      cursor: pointer;
    }

    .submit-button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    .submit-button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    .submit-button:hover span {
      padding-right: 25px;
    }

    .submit-button:hover span:after {
      opacity: 1;
      right: 0;
    }

    input {
      width: 100%;
      padding: 12px;
      border: 1px solid black;
      border-radius: 4px;
      margin: 5px 0;
      opacity: 0.85;
      display: inline-block;
      font-size: 17px;
      line-height: 20px;
      text-decoration: none;
    }

    .input {
      cursor: pointer;
    }
  }
}
