.login-container {
  min-height: 90vh;
  background: linear-gradient(-45deg, $orange 40%, $green 40%);

  p {
    font-size: 0.9rem;
  }

  .left {
    .btn {
      font-weight: 500;
      padding: 1rem 1.5rem;
      background-color: $orange;
    }

    width: 30%;
    border-left: 2px solid #fff;

    p {
      font-size: 1.8rem;
      font-weight: 900;
      color: $white;
      text-shadow: 2px 2px 5px #333;
    }

    a {
      text-shadow: 2px 2px 3px rgba(#333, 0.8);
    }
  }

  .right {
    width: 40%;
    background: $white;
    border-radius: 3px;
    box-shadow: $boxShadow;

    span {
      font-size: 0.9rem;
    }

    .btn {
      height: 3rem;
    }

    .submit-button {
      border: none;
      color: $white;
      text-align: center;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }

    .submit-button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    .submit-button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    .submit-button:hover span {
      padding-right: 25px;
    }

    .submit-button:hover span:after {
      opacity: 1;
      right: 0;
    }
  }
}
