.navbar {
  width: 100%;
  min-height: 10vh;
  background-color: $logoBackColor;
  padding: 0 1rem;

  .nav-logo {
    text-decoration: none;
    .nav-brand {
      &:hover {
        cursor: pointer;
      }

      img {
        width: 2.3rem;
        height: 2.3rem;
      }
      h1 {
        font-family: 'Catamaran', sans-serif;
        font-weight: 900;
        margin: 0;
        font-size: 1.1rem;
        background-clip: text;
        background: $gradientText;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .dropdown-menu {
    display: none;
    border-radius: 0;
    color: $white;
    background-color: $navBlue;
  }

  .dropdown-divider {
    margin: 0;
  }
  .dropdown-item {
    color: $white;
    &:hover {
      background-color: $navBlueHover;
    }
  }

  .nav-item:hover {
    .dropdown-menu {
      display: block;
    }
  }

  .profile-dropdown {
    right: 0;
  }

  .productDiv {
    margin-left: 5rem;
  }

  .productText {
    color: $white;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      // color: $lightBlue !important;
      background-color: $navBlueHover;
    }
  }

  //right side
  .navbar-nav {
    margin-left: auto;

    .nav-link {
      text-transform: capitalize;
      display: block;
      color: $white !important;
      font-weight: 600;
      margin: 0 0.4rem;
      transition: all 0.4s ease;
      &:hover {
        color: $navBlueHover !important;
      }
    }

    i {
      font-size: 1.4rem;
    }
  }
}
