.nav-container-div {
  background: $logoBackColor;

  .navbar {
    h1 {
      font-weight: 800;
      background-clip: text;
      background: -webkit-linear-gradient(45deg, $pink 0% 40%, $turquoise 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    img {
      width: 5rem;
      height: 5rem;
    }

    .navbar-toggler {
      width: 70px;
      height: 40px;
      background-clip: text;
      background: -webkit-linear-gradient(45deg, $pink 0% 40%, $turquoise 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-color: $pink;
    }
  }

  .navbar-nav {
    .nav-item {
      font-weight: bold;
      font-size: 20px;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      font-weight: 700;
    }
  }
}
