.navbar {
  width: 100%;
  min-height: 10vh;
  background-color: $logoBackColor;
  padding: 0 1rem;

  //right side
  .navbar-nav {
    margin-left: auto;

    .nav-link {
      text-transform: capitalize;
      display: block;
      color: $white !important;
      // background: $purple;
      // border-radius: 1rem;
      // padding: 0.5rem 2rem !important;
      font-weight: 600;
      margin: 0 0.4rem;
    }

    i {
      font-size: 1.4rem;
    }
  }
}
