.products-container {
  .product-title {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 2.8rem;
    color: rgba(170, 50, 220, 0.6);
    color: $turquoise;
    color: #333;
    border-bottom: 0.3rem ridge #333;
    border-top: 0.3rem ridge #333;
    padding: 0.3rem;
    // text-shadow: 3px 1px 1px rgba($turquoise, 0.3), -3px -1px 2px #333;
  }
  .sidebar {
    // box-shadow: 10px 10px 20px #999, -13px -13px 20px #fff;
    // height: 100%;
    width: 15rem;
    padding: 1rem 2rem;
    z-index: 10;
    top: 1rem;
    overflow-y: auto;
    position: sticky;
    -webkit-position: sticky;
    border-radius: 0.2rem;
    .header {
      font-weight: 800;
    }
  }
  .spinner {
    height: 45vh;
  }
  .product-item {
    font-family: 'Catamaran', sans-serif;
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    a {
      text-decoration: none;
      display: block;
      &:hover {
        .img {
          transform: translateY(-6%);
        }
      }
    }
    .item {
      border-radius: 0.2rem;
      min-height: 25rem;
      background: #fff;
      overflow: hidden;
      .img {
        transition: all 0.4s ease-out;
        width: 60%;
      }
      .caption {
        margin-top: auto;
        color: rgb(70, 69, 69);
        h6 {
          font-size: 1.4rem;
          font-weight: 600;
        }
        p {
          font-size: 2rem;
          font-weight: 800;
        }
      }
    }
  }
}
