.products-container {
  .product-title {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: rgba(170, 50, 220, 0.6);
    color: $turquoise;
    color: #333;
    border-bottom: 0.3rem ridge #333;
  }
  .sidebar {
    height: 35rem;
    width: 15rem;
    padding: 0.5rem 2rem;
    margin-right: 1.5rem;
    z-index: 10;
    top: 1rem;
    overflow-y: auto;
    position: sticky;
    -webkit-position: sticky;
    .header {
      font-weight: 800;
    }
  }
  .spinner {
    height: 45vh;
  }
  .product-item {
    font-family: 'Catamaran', sans-serif;
    padding: 0 0 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    a {
      text-decoration: none;
      display: block;
      &:hover {
        .img {
          transform: translateY(-6%);
        }
      }
    }
    .item {
      border-radius: 0.2rem;
      min-height: 25rem;
      background: #fff;
      overflow: hidden;
      .img {
        transition: all 0.4s ease-out;
        width: 60%;
      }
      .caption {
        margin-top: auto;
        color: rgb(70, 69, 69);
        h6 {
          font-size: 1.4rem;
          font-weight: 600;
        }
        p {
          font-size: 2rem;
          font-weight: 800;
        }
      }
    }
  }
}
