.products-container {
  .sidebar {
    border-radius: 0.2rem;
    .header {
      font-weight: 800;
    }
    label {
      font-size: 0.9rem;
    }
  }

  .product-items {
    font-family: 'Catamaran', sans-serif;
    padding: 1.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    a {
      text-decoration: none;
      display: block;
    }
    .item {
      border-radius: 0.2rem;
      min-height: 25rem;
      background: #fff;
      overflow: hidden;
      .img {
        width: 60%;
      }
      .caption {
        margin-top: auto;
        color: rgb(70, 69, 69);
        h6 {
          font-size: 1.3rem;
          font-weight: 600;
        }
        p {
          font-size: 1.8rem;
          font-weight: 800;
        }
      }
    }
  }
}
