.product-container {
  margin: auto;
  display: flex;
  background-color: white;
  padding: 1rem;

  img {
    width: 400px;
    height: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .product-right-div {
    margin-top: 1rem;
    margin-left: 1rem;

    h3 {
      font-size: 40px;
    }

    .description-p {
      font-size: 1.5rem;
    }

    .brand-div {
      font-size: 15px;
      display: flex;
    }

    .category-div {
      font-size: 15px;
      display: flex;
    }

    h4 {
      font-size: 40px;
      font-weight: bold;
    }

    label {
      font-size: 25px;
    }

    button {
      width: 50%;
      vertical-align: bottom;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-radius: 4px;
      background-color: $logoBackColor;
      border: none;
      color: #ffffff;
      text-align: center;
      font-size: 15px;
      padding: 5px;
      transition: all 0.5s;
      cursor: pointer;
    }

    button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    button:hover span {
      padding-right: 25px;
    }

    button:hover span:after {
      opacity: 1;
      right: 0;
    }
  }
}
