.product-container {
  font-family: 'Catamaran', sans-serif;
  background-color: #fff;
  min-height: 100vh;
  padding: 2rem 2.5rem 4rem;
  input:not([type='submit']) {
    background-color: #fff !important;
  }
  .product-item {
    .img-container {
      width: 40%;
    }
    .descript-container {
      width: 40%;
      .descript-head {
        .name {
          font-weight: 900;
        }
        .price {
          font-weight: 500;
          font-size: 1.9rem;
        }
      }

      p {
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: 0.8px;
        margin-bottom: 0.5rem;
        display: inline-block;
      }
      span {
        font-size: 1.15rem;
        font-weight: 600;
      }

      .quan-container {
        i {
          font-size: 0.7rem;
        }
        .count-container {
          border-radius: 0;
          width: 8rem;
          border: 1px solid $logoBackColor;
          .btn {
            border-radius: 0;
          }
          .minus {
            border-right: 1px solid $logoBackColor;
          }
          .plus {
            border-left: 1px solid $logoBackColor;
          }
        }
      }
      .btn-container {
        .btn {
          font-size: 1.3rem;
          font-weight: 700;
          border-radius: 0;
          margin-top: 1.6rem;
          background-color: $yellow;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
