$boxShadow: 10px 10px 20px rgba(37, 37, 37, 0.4);
$orange: #ee7752;

.profile-container-div {
  padding: 1rem;
  margin: 0 auto;
  .profile-image {
    width: 15%;
    height: 15%;
    box-shadow: $boxShadow;
  }

  .name-label {
    font-size: 40px;
  }

  .username-label {
    font-size: 30px;
  }

  .edit-profile-button {
    width: 40%;
    border: none;
    color: $white;
    text-align: center;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  .edit-profile-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .edit-profile-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .edit-profile-button:hover span {
    padding-right: 25px;
  }

  .edit-profile-button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .form-control {
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .save-button {
    padding: 10px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
  }

  .save-button:hover {
    background-color: green;
    color: white;
  }

  .cancel-button {
    padding: 10px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
  }

  .cancel-button:hover {
    background-color: $orange;
    color: white;
  }
}
