/* Color Variables */
$logoBackColor: rgb(7, 19, 43);
$inputBackColor: #f2f2f2;

$navBlue: #4361ee;
$navBlueHover: #4895ef;

$white: #fafafa;
$lightBlue: #86cedb;
$backWhite: #eef0fa;
$pink: rgb(222, 64, 205);
$turquoise: rgb(96, 196, 243);
$orange: #ee7752;
$green: #28c5a1;
$gradientText: -webkit-linear-gradient(45deg, $pink 0% 40%, $turquoise 60%);

// $boxShadow: 10px 10px 20px rgba(37, 37, 37, 0.4);
$boxShadow: 3px 3px 5px rgb(34, 34, 34);
// $boxShadow: 3px 3px 5px rgb(34, 34, 34), -1px -1px 5px #f0f0f0;

/* Partials */
@import 'Login';
@import 'Signup';
@import 'Profile';
@import 'Nav';
@import 'Checkout';
@import 'Products';
@import 'Product';
@import 'Admin';
@import 'Footer';

/* Main Styles */
// scrollbar
::-webkit-scrollbar {
  width: 3.5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(rgb(131, 131, 131), 0.8);
  min-height: 15rem;
  border-radius: 50px;
}

.main-container {
  min-height: 90vh;
  .btn-scroll-up {
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    bottom: 2rem;
    width: 50px;
    height: 50px;
    color: $white;
    background: $pink;
    box-shadow: 0 0 10px rgba(#000, 0.25);
    border-radius: 50%;
    border: none;
    outline: none;
  }
}

// tags
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
  background: $backWhite;
  overflow-x: hidden;
}

input[type='text'] {
  background: $inputBackColor !important;
  border: 1px solid rgb(207, 207, 207);
}

img {
  object-fit: cover;
  object-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
