// color variables
$logoBackColor: rgb(7, 19, 43);
$inputBackColor: #f4f4f4;

$white: #f3f3f3;
$pink: rgb(222, 64, 205);
$turquoise: rgb(96, 196, 243);
$orange: #ee7752;
$green: #1bb38f;

$boxShadow: 10px 10px 20px rgba(37, 37, 37, 0.4);

// partials
@import 'Login';
@import 'Signup';

// main styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

::-webkit-scrollbar {
  width: 3.5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(45, 112, 245, 0.6);
  border-radius: 50px;

  &:hover {
    background: rgba(45, 112, 245, 0.8);
  }
}

body {
  font-family: 'M PLUS 1p', sans-serif;
  // background: $white;
  background: linear-gradient(-45deg, $orange 40%, $green 40%);
  // background-size: 400% 400%;
  // animation: gradient 15s ease infinite;
  overflow-x: hidden;
}

input[type='text'] {
  background: $inputBackColor !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

img {
  object-fit: cover;
  object-position: center;
}

.main-container {
  min-height: 100vh;
}

footer {
  background: $logoBackColor;
  min-height: 50vh;

  .main-left-container {
    .name {
      font-weight: 900;
      background-clip: text;
      background: -webkit-linear-gradient(45deg, $pink 0% 40%, $turquoise 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    img {
      width: 9rem;
      height: 9rem;
    }
  }

  .main-right-container {
    width: 35%;
    text-align: center;
    padding: 2rem 0;

    i {
      font-size: 1.6rem;
      display: inline;
      color: lightsteelblue;
    }

    .text {
      font-size: 1.1rem;
      font-weight: 300;
      color: $white;
      display: inline;
    }
  }
}

.logo-img {
  width: 6rem;
  height: 6rem;
}

.nav-container-div {
  background: $logoBackColor;

  .navbar {
    background: $logoBackColor;

    h1 {
      font-weight: 800;
      background-clip: text;
      background: -webkit-linear-gradient(45deg, $pink 0% 40%, $turquoise 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    img {
      width: 5rem;
      height: 5rem;
    }

    .navbar-toggler {
      width: 70px;
      height: 40px;
      background-clip: text;
      background: -webkit-linear-gradient(45deg, $pink 0% 40%, $turquoise 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-color: $pink;
    }
  }

  .navbar-nav {
    padding: 5px;

    .nav-item {
      font-weight: bold;
      font-size: 20px;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      font-weight: 700;
      background-clip: text;
      background: $turquoise;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
